/* this is a custom css stylesheet*/
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500|Roboto');

@font-face {
    font-family: playfairdisplay;
    src: url(../fonts/playfairdisplay/PlayfairDisplay-Black.ttf);
}

@font-face {
    font-family: worksans;
    src: url(../fonts/worksans/WorkSans-Bold.ttf);
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Oswald, "sans-serifs", "Helvetica"
}

.jumbotron {
    margin-bottom: 0;
    padding: 10px;
    border-radius: 0;
    background-image: url(../img/home-office.jpg);
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    height: 800px;
}

.jumbotron-message{
  font-size: 1.2em;
}

.opaquelayer{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background:rgba(0, 0, 0,0.6);
  width:100%;
  height:100%;
}

.border{
   border:1px solid red;
}

.circle{
  align-self: center;
  border: 3px solid white;
  background-image: url(../img/AlanLo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background-color: black;
  /*-webkit-filter: grayscale(80%);
  filter: grayscale(80%);*/
}

.mt-50{
  margin-top: 50px;
}
.ml-0{
  margin-left: 0;
}

.mr-0{
  margin-right: 0;
}

.pt-3{
  padding-top: 3px;
}

.pb-3{
  padding-bottom: 3px;
}

.pl-15{
  padding-left: 15px;
}

.pl-100{
  padding-left: 100px;
}
.pr-100{
  padding-right: 100px;
}

.max-h-35{
  max-height: 35px;
}

.title-image > div:nth-child(1){
  order:2;
}
.title-image > div:nth-child(2){
  order:1;
}

.show-projects{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.show-projects > a {
  display:flex;
  flex-direction: column;
  align-items: center;
}

a:link{
  color:grey;
  text-decoration: none;
}

a:visited{
  color:grey;
}

a:hover{
  color: #5fff47 !important;
  text-decoration: none;
  transition: all 1.2s;
}

#projects{
  background:rgba(0, 0, 0, 0.9);
  min-height: 800px;
  padding: 20px;
}

#project-container{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  min-height:800px;
  width:100%;
  background-color: white;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

.row{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.project{
  margin-top: 20px;
  margin-bottom: 20px;
}

.project-heading{
  letter-spacing: 10px;
  font-size: 3.5em;
}

.project-name{
  margin-bottom: 18px;
}

.project-info, .bio{
  font-family: 'Roboto', sans-serif;
  font-size: 0.95em;
  text-align: justify;
}

.project-footer{
  text-align: left;
}

#aboutme{
  background:rgba(33, 33, 33, 1.0);
  min-height: 800px;
  padding: 20px;
}

#aboutme-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  min-height:800px;
  width:100%;
}

.skills-container , .bio-container{
  background-color: white;
  min-height: 300px;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

.bio-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 650px;
  min-width: 300px;
}

.skills-container{
  margin-top: 20px;
  padding: 20px;
}

.skill{
  font-size:1.1em;
}

.rating{
  display: inline-block;
}
.star{
  color: gold;
  font-size:1.3em;
  margin-right: 5px;
}

footer{
  background:rgba(0, 0, 0, 0.9);
  width:100%;
  color: white;
  font-size: 1.2em;
}

.social-icons > a{
  margin-right: 20px;
}

.social-icons a:last-child{
  margin-right: 0;
}

.title{
  font-size: 1.9em;
}

.name{
  font-size: 1.6em;
}



@media (min-width: 768px) {
  .title-image > div:nth-child(1){
    order:1;
  }
  .title-image > div:nth-child(2){
    order:2;
  }

  .jumbotron-message{
    font-size: 1.8em;
  }
}

@media (min-width: 991px){
  #project-container{
    padding-left: 100px;
    padding-right: 100px;
  }
}
