/* this is a custom css stylesheet*/
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500|Roboto');

@font-face {
    font-family: playfairdisplay;
    src: url(../fonts/playfairdisplay/PlayfairDisplay-Black.ttf);
}

@font-face {
    font-family: worksans;
    src: url(../fonts/worksans/WorkSans-Bold.ttf);
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Oswald, "sans-serifs", "Helvetica"
}

/*CSS Effects on jumbotron*/
.jumbotron {
    margin-bottom: 0;
    padding: 10px;
    border-radius: 0;
    background-image: url(../img/jumbotron.jpg);
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    height: 800px;
}

.opaquelayer{
  position: relative;
  display: flex;
  flex-direction: column;
  background:rgba(0, 0, 0,0.6);
  width:100%;
  height:100%;
}

.opaquelayer > div.row {
  position: absolute;
  width: 100%;
  top:25%;
}

.jumbotron-message{
  font-size: 1.2em;
}

.title{
  font-size: 1.9em;
}

.name{
  font-size: 1.6em;
}


.mt-50{
  margin-top: 50px;
}
.ml-0{
  margin-left: 0;
}

.mr-0{
  margin-right: 0;
}

.pt-3{
  padding-top: 3px;
}

.pb-3{
  padding-bottom: 3px;
}

.pl-15{
  padding-left: 15px;
}

.pl-100{
  padding-left: 100px;
}
.pr-100{
  padding-right: 100px;
}

.max-h-35{
  max-height: 35px;
}

.title-image > div:nth-child(1){
  order:2;
}
.title-image > div:nth-child(2){
  order:1;
}

.jumbotron-button{
  position: absolute;
  bottom: 5%;
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.down-arrow{
   height: 60px;
   width: 60px;
   border-radius: 50%;
   border: medium solid grey;
   display:flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   transition: all 1.2s;
}

.down-arrow i.fa{
  transition: all 1.2s;
}

a:link{
  color:grey;
  text-decoration: none;
}

a:visited{
  color:grey;
}

a:hover{
  color: #5fff47 !important;
  text-decoration: none;
  transition: all 1.2s;
}

a[href="#projects"]:nth-child(1):hover{
  color: grey !important;

}

.down-arrow-hover{
  color: #5fff47;
  text-decoration: none;
  transition: all 1.2s;
}
.down-arrow-circle-hover{
  border: medium solid #5fff47;
  transition: all 0.8s;
}

#projects{
  background:rgba(0, 0, 0, 0.9);
  min-height: 800px;
  padding: 20px;
}

#project-container{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  min-height:800px;
  width:100%;
  background-color: white;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

.row{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.project{
  margin-top: 20px;
  margin-bottom: 20px;
}

.project-heading{
  letter-spacing: 10px;
  font-size: 3.5em;
}

.project-name{
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 18px;
}

.project-info, .bio{
  font-family: 'Roboto', sans-serif;
  font-size: 0.95em;
  text-align: justify;
}

.project-footer{
  text-align: left;
}

#aboutme{
  background:rgba(33, 33, 33, 1.0);
  min-height: 800px;
  padding: 20px;
}

#aboutme-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  min-height:800px;
  width:100%;
}

.skills-container , .bio-container{
  color: white;
  min-height: 300px;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}


.circle{
  align-self: center;
  border: 3px solid white;
  background-image: url(../img/AlanLo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background-color: black;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

.bio-container{
  display: flex;
  flex-direction: column;
  min-height: 650px;
  min-width: 300px;
}

.bio-heading{
  margin-top: 50px;
  margin-bottom: 50px;
}

.bio-heading , .skills-heading{
font-size: 2.6em;
letter-spacing: 3px;
}

.skills-container{
  margin-top: 20px;
  padding: 20px;
}

.skill{
  font-size:1.1em;
}

.rating{
  display: inline-block;
}
.star{
  color: gold;
  font-size:1.3em;
  margin-right: 5px;
}

footer{
  background:rgba(0, 0, 0, 0.9);
  width:100%;
  font-size: 1.2em;
  color: grey;
}

.social-icons{
  font-size: 0.75em;
  display: flex;
  justify-content: center;
}

.social-icons > a{
  margin-right: 20px;
}

.social-icons a:last-child{
  margin-right: 0;
}


/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: grey;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.copy-right{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div.row > div:nth-child(1){
  order:2;
}
footer div.row > div:nth-child(2){
  order:1;
}

@media (min-width: 576px){
  footer div.row > div:nth-child(1){
    order:1;
  }
  footer div.row > div:nth-child(2){
    order:2;
  }
  .copy-right{
    justify-content: flex-start;
  }
  .social-icons{
    justify-content: flex-end;
  }
}
@media (min-width: 768px) {
  .title-image > div:nth-child(1){
    order:1;
  }
  .title-image > div:nth-child(2){
    order:2;
  }

  .jumbotron-message{
    font-size: 1.8em;
  }
}

@media (min-width: 991px){
  #project-container{
    padding-left: 100px;
    padding-right: 100px;
  }
}
